<div class='pure-g'>
  <div class="pure-u-1"> 
    <div class='pure-g'>
      <div class="pure-u-3-5"> 
        <h2 class='budget-name'> Budgets </h2>
      </div>
      <div class="pure-u-2-5 text-right available-budget">
        Available
      </div> 
    </div> 
    <div class='budget-list top-margin'>
      <% @budgets.each do |budget| %>
        <%= link_to budget_budget_cycle_path(budget, budget.current_cycle) do %> 
          <div class='budget-list-row <%= balance_color(budget.current_cycle) %>'>
            <span style='float:right;'><%= cents_to_currency(budget.current_cycle.current_balance) %></span>
            <h2><%= budget.name %></h2>
          </div>
        <% end %>
      <% end %>
      <%= link_to 'New Budget', new_budget_path, class: 'pure-button pure-button-white pull-right one-hundred top-margin' %>
    </div>
  </div>
</div>
