<div class='header-bar sticky'>
  <div class='header-inner'>
    <a href=<%= root_path %>>
      <span class='brand'><%= fa_icon 'money', class: 'logo' %>
        Budget App 
      </span>
    </a>
    <% if current_user %>

      <%= link_to edit_account_path, class: 'pure-button pull-right' do %>
        <%= fa_icon 'user' %>
      <% end %>
      <%= link_to root_path, class: 'pure-button pull-right', style: 'margin-right: 10px;' do %>
        <%= fa_icon 'th-list' %>
      <% end %>
    <% end %>

  </div>
</div>
