<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render 'shared/header' %>
    </header>
    <main>
      <div class='flash'>
        <div class="notice">
          <% if notice.present? %>
            <div class='flash-content'>
              <%= notice %>
              <span class='pull-right'> <%=fa_icon 'times' %> </span>
            </div>
          <% end %>
        </div>
        <div class="alert">
          <% if alert.present? %>
            <div class='flash-content'>
              <%= alert %>
              <span class='pull-right'> <%=fa_icon 'times' %> </span>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
