<div class='pure-g'>
  <div class="pure-u-1"> 
    <%= form_for @account, html: { class: 'pure-form pure-form-stacked' } do |f| %>
        <h2 class='budget-name'> Account </h2> 
        <div class='pure-g top-margin'>
          <div class='pure-u-1-2'>
              <%= link_to "Settings", edit_account_path, class: 'pure-button one-hundred pure-button-active' %>
          </div>
          <div class='pure-u-1-2'>
              <%= link_to "User", edit_user_registration_path, class: 'pure-button one-hundred' %>
          </div>

          <fieldset style='width: 100%;'>
            <div class='form-row top-margin'>
                <div class='pure-u-2-5'>
                    <%= f.label :timezone %>
                </div>
                <div class='pure-u-3-5'>
<!--                     <%= f.text_field :timezone, class: 'one-hundred', required: true %> -->
                    <%= time_zone_select :account, :timezone, nil, { include_blank: false }, class: 'one-hundred' %>
                </div>
            </div>

            <div class='form-row'>
                <div class='pure-u-2-5'>
                    <%= f.label :month_start, "Cycle Start" %>
                </div>
                <div class='pure-u-3-5'>
                    <%= f.number_field :month_start, class: 'one-hundred', required: true, min: 1, max: 28, step: 1 %>
                    <span class='subtext'> What day of the month would you like your cycle to reset? </span>
                </div>
            </div>
          </fieldset>
        </div>

        <div class='top-margin'>
            <%= f.submit 'Save Changes', class: 'pure-button pure-button-primary one-hundred' %>
        </div>
    <% end %>
    <div class='top-margin'>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'pure-button pure-button-white one-hundred' %>
    </div>
  </div>
</div>
